* {
	margin: 0;
	padding: 0;
	border: unset;
}
body{
	font-family: Arial;
}
li{
	display: inline;
}
a {
	color: inherit;
}

a:link {
	text-decoration: none;
}

a:hover {
	color: white;
}

.content {
	width: 500px;
	min-height: 560px;
	margin: 0px auto;
	position: relative;
}
.contentTable{
	width: 1000px;
	min-height: 560px;
	margin: 0px auto;
	position: relative;
	top: 0px;
	margin-top: 3%;
}

h1 {
	font-size: 48px;
	color: #066a75;
	padding: 2px 0 10px 0;
	font-family: Arial, sans-serif;
	font-weight: bold;
	text-align: center;
	padding-bottom: 30px;
}

h1:after {
	content: ' ';
	display: block;
	width: 100%;
	height: 2px;
	margin-top: 10px;
	background: -webkit-linear-gradient(left, rgba(147, 184, 189, 0) 0%,
		rgba(147, 184, 189, 0.8) 20%, rgba(147, 184, 189, 1) 53%,
		rgba(147, 184, 189, 0.8) 79%, rgba(147, 184, 189, 0) 100%);
	background: linear-gradient(left, rgba(147, 184, 189, 0) 0%,
		rgba(147, 184, 189, 0.8) 20%, rgba(147, 184, 189, 1) 53%,
		rgba(147, 184, 189, 0.8) 79%, rgba(147, 184, 189, 0) 100%);
}

p {
	margin-bottom: 15px;
}

.content p:first-child {
	margin: 0px;
}

label {
	color: #405c60;
	position: relative;
}

/* placeholder */
::-webkit-input-placeholder {
	color: #bebcbc;
	font-style: italic;
}

input:-moz-placeholder, textarea:-moz-placeholder {
	color: #bebcbc;
	font-style: italic;
}

input {
	outline: none;
}

input[type="submit"]:hover {
	background: #4ab3c6;
}

/*estilo dos input,  menos o checkbox */
input:not([type="checkbox"]) {
	width: 110%;
	margin-top: 4px;
	padding: 10px;
	border: 1px solid #b2b2b2;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
	box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
	-webkit-transition: all 0.2s linear;
	transition: all 0.2s linear;
	font-size: 12pt;
}

input:focus,select:focus {
	border: #4ab3c6 solid 2px;
}

input[type="submit"] {
	width: 25% !important;
	cursor: pointer;
	background: rgb(61, 157, 179);
	padding: 8px 5px;
	color: #fff;
	font-size: 20px;
	border: 1px solid #fff;
	margin-bottom: 10px;
	text-shadow: 0 1px 1px #333;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	transition: all 0.2s linear;
	display: inline;
	margin-top: 6%;
	border-radius: 50px;
}

select{
	width: 120%;
	margin-top: 4px;
	padding: 10px;
	border: 1px solid #b2b2b2;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
	box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
	-webkit-transition: all 0.2s linear;
	transition: all 0.2s linear;
	font-size: 12pt;
}
textarea {
	margin-top: 4px;
	padding: 10px;
	border: 1px solid #b2b2b2;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
	box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
	font-size: 12pt;
	resize: none;
	width: 190%;
	height: 60px;
	font-family: Arial;
}

#login, #cadastro, #usuario {
	position: absolute;
	top: 0px;
	width: 88%;
	padding: 18px 6% 60px 6%;
	margin: 5% 0 35px 0;
	background: #f7f7f7;
	border: 1px solid rgba(147, 184, 189, 0.8);
	-webkit-box-shadow: 5px;
	border-radius: 5px;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-fill-mode: both;
	animation-duration: 0.5s;
	animation-timing-function: ease;
	animation-fill-mode: both;
}



#login>form>input[type="submit"] {
	width: 100%;
}

.menu {
	width: auto;
	height: 50px;
	background-color: #4ab3c6;
}

.menu>ul {
	padding-top: 5px;
	text-align: center;
	font-size: 20pt;
}

.menu>ul>li {
	display: inline;
	margin: 0 1% 0 1%;
}
