* {
	margin: 0;
	padding: 0;
	border: unset;
}

#cadastro>form>table {
	width: 100%;
}

body {
	font-family: Arial;
}


a {
	color: inherit;
}

a:link {
	text-decoration: none;
}

a:hover {
	color: red;
}

.content {
	width: 600px;
	min-height: 560px;
	margin: 0px auto;
}
h1 {
	font-size: 48px;
	color: #066a75;
	padding: 2px 0 10px 0;
	font-family: Arial, sans-serif;
	font-weight: bold;
	text-align: center;
	padding-bottom: 30px;
}

h1:after {
	content: ' ';
	display: block;
	width: 100%;
	height: 2px;
	margin-top: 10px;
	background: -webkit-linear-gradient(left, rgba(147, 184, 189, 0) 0%,
		rgba(147, 184, 189, 0.8) 20%, rgba(147, 184, 189, 1) 53%,
		rgba(147, 184, 189, 0.8) 79%, rgba(147, 184, 189, 0) 100%);
	background: linear-gradient(left, rgba(147, 184, 189, 0) 0%,
		rgba(147, 184, 189, 0.8) 20%, rgba(147, 184, 189, 1) 53%,
		rgba(147, 184, 189, 0.8) 79%, rgba(147, 184, 189, 0) 100%);
}

p {
	margin-bottom: 15px;
}

.content p:first-child {
	margin: 0px;
}

label {
	color: #405c60;
}

/* placeholder */
::-webkit-input-placeholder {
	color: #bebcbc;
	font-style: italic;
}

input:-moz-placeholder, textarea:-moz-placeholder {
	color: #bebcbc;
	font-style: italic;
}

input {
	outline: none;
}

input[type="submit"]:hover {
	background: #4ab3c6;
}

/*estilo dos input,  menos o checkbox */
input:not([type="checkbox"]) {
	width: 100%;
	margin-top: 4px;
	padding: 10px;
	border: 1px solid #b2b2b2;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
	box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
	-webkit-transition: all 0.2s linear;
	transition: all 0.2s linear;
	font-size: 12pt;
}
#cadastro input:not([type="checkbox"]) {
	width: 50%;

}

#cadastro input[type="submit"], #login input[type="submit"]{
	width: 25% !important;
	cursor: pointer;
	background: rgb(61, 157, 179);
	padding: 8px 5px;
	color: #fff;
	border: 1px solid #fff;
	margin-bottom: 10px;
	text-shadow: 0 1px 1px #333;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	transition: all 0.2s linear;
	display: inline;
	margin-top: 6%;
	border-radius: 50px;
}

select {
	width: 111%;
	margin-top: 4px;
	padding: 10px;
	border: 1px solid #b2b2b2;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
	box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
	-webkit-transition: all 0.2s linear;
	transition: all 0.2s linear;
	font-size: 12pt;
}

textarea {
	width: 100%;
	margin-top: 4px;
	padding: 10px;
	border: 1px solid #b2b2b2;
	border-radius: 3px;
	box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
	font-size: 12pt;
	resize: none;
	height: 60px;
	font-family: Arial;
}

#login, #cadastro, #usuario {
	top: 0px;
	width: 88%;
	padding: 18px 6% 60px 6%;
	margin: 5% 0 35px 0;
	background: #f7f7f7;
	border: 1px solid rgba(147, 184, 189, 0.8);
	-webkit-box-shadow: 5px;
	border-radius: 5px;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-fill-mode: both;
	animation-duration: 0.5s;
	animation-timing-function: ease;
	animation-fill-mode: both;
}

#login>form>input[type="submit"] {
	width: 100%;
}

.menu {
	width: 100%;
	background-color: #191818;
	height: 150px;
}


.cliente_menu>ul {
	padding-top: 5px;
	font-size: 20pt;
	width: 0 auto;
	right: 3%;
}

.cliente_menu>ul>li {
	font-family: arial;
	margin: 0 1% 0 1%;
	color: #fff;
	display: inline;
}

.body {
	background-color: black;
}

.wrapper_header {
	border-bottom: solid #FFF 3px;
}

.session_menu {
	position: absolute;
	top: 60px;
	right: 10px;
}
.session_menu label{
	color:red;
}
.carrinho{
	position: absolute;
	top: 80px;
	right: 200px;
}
.consulta {
	display: flex;
	margin-bottom: 2%;
}

.consulta input{
	width: 100%;
}
.consulta select{
	width: 100%;
}

input[type="text"]:focus, select:focus {
	border: #4ab3c6 solid 0.5px;
}

.div_submit li{
	display: inline;
}
.div_submit{
	margin-top: 10px;
}

#table_index > table > tbody > tr:hover{
	background-color: #ccc;
	cursor: pointer;
	
}

#table_index td > a > label{
	cursor: pointer;
	font-size: 10pt;
}

.list_total{
	margin: 5% 0 5% 10%;
	
}

.list_total > li{
	display: inline;
	padding: 0 10px
}
.list_total label{
	color: gray;
	font-size: 12pt;
	font-family: Arial;
}
.list_total input[type="submit"]{
	width: 150px;
	position: relative;
	right: -70%;
    background: linear-gradient(349.6deg, rgb(242, 82, 0) -26.4%, rgb(255, 118, 48) 99.63%);
    border: 0.5px solid rgb(255, 169, 125);
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 2px;
    border-radius: 5px;
    color: rgb(245, 245, 245);
    cursor: pointer;
}
#compra_buttom{
	padding: 5px;
	background: linear-gradient(349.6deg, rgb(242, 82, 0) -26.4%, rgb(255, 118, 48) 99.63%);
    border: 0.5px solid rgb(255, 169, 125);
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 2px;
    border-radius: 5px;
    color: rgb(245, 245, 245);
    cursor: pointer;
}
.list_link{
	top: 60px;
	left: 165px;
}
.list_link > ul > li {
	color: #fff;
	display: inline;
}
.list_link li {
	display: inline;
	font-size: 15pt;
	padding: 0 10px;
}

h2:hover{
	border: 0px;
	color: #fff;
}
	
.list_history td{
	padding-left: 40px;
	border-bottom: solid #ccc 1px;
	
}		
.list_history{
	border: solid #ccc 3px;
	border-radius: 7px;
}

.detalhes_titulo{
	font-size: 15pt;
	color: black;
	font-family: Arial;
}
.list_info td{
	padding: 15px;
}
.list_info{
	background-color: #ccc;
}
.description label{
	padding: 10px 10px;
	width: 40%;
}
