#teste>form>table>tbody>tr>td {
	border-bottom: 1px solid #ddd;
	padding: 15px;
	text-align: left;
	font-size: 13pt;
	font-family: Arial;
}

.contentTable {
	width: 80%;
	margin: 0 auto;
}

#modal {
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
}

.modal-box {
	background-color: #191818;
	border: solid #ccc 2px;
	border-radius: 7px;
	width: 50%;
	height: 50%;
	position: absolute;
	left: 50%;
	margin-left: -25%;
	top: 50%;
	margin-top: -12%;
}

.fechar {
	padding: 5px 10px;
	border: solid #ccc 1px;
	position: absolute;
	right: 3px;
	top: 3px;
	border-radius: 7px;
	cursor: pointer;
	font-family: arial;
}

.fechar:hover {
	color: #ccc;
}

input:-moz-placeholder, textarea:-moz-placeholder {
	color: #bebcbc;
	font-style: italic;
}

input {
	outline: none;
}

input:focus, select:focus {
	border: #4ab3c6 solid 2px;
}
.form-group ,.form-group > label{
	display: block;
	font-family: Arial;
	color: #ccc;
}

.form_global_modal{
	margin-top: 30px;
	display: flex;
	position: absolute;
	margin-left: 50%;
	left: -25%;
	border: solid #ccc 2px;
	padding: 10px;
	border-radius: 7px;
	

}
.form_row{
	clear: both;
}
.form-group > input{
	display: inline-block;
	width: 85%;
}
.form-boton{
	width: 100%;
	position: absolute;
	bottom: 10px;
	margin-left: 50%;
	left: -25%;
}
.form-boton > input[type="submit"]{
	width: 25% !important;
	
}
